//- Store
block store
    include ../stores/GlobalStore


//- Template
doctype html
html(lang= settings.language)
    head

        title= settings.titlePage
        
        //- Meta Tags
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content= metaDescription)
        meta(charset="UTF-8")


    body

        block content

