<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    style.
        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
        }

        .gallery img{
            width: 100%;
        }
</head>

<body>

    <div class="gallery">
        <img src="./img/1.png" alt="">
        <img src="./img/2.png" alt="">
        <img src="./img/3.png" alt="">
        <img src="./img/4.png" alt="">
        <img src="./img/5.png" alt="">
        <img src="./img/6.png" alt="">
        <img src="./img/7.png" alt="">
        <img src="./img/8.png" alt="">
        <img src="./img/9.png" alt="">
        <img src="./img/10.png" alt="">
        <img src="./img/11.png" alt="">
        <img src="./img/12.png" alt="">
        <img src="./img/icono-redes-1.png" alt="">
        <img src="./img/icono-redes-2.png" alt="">
        <img src="./img/icono-redes-3.png" alt="">
        <img src="./img/icono-redes-4.png" alt="">
        <img src="./img/icono-redes-5.png" alt="">
        <img src="./img/icono-redes-6.png" alt="">
        <img src="./img/LOGO.png" alt="">
    </div>

</body>

</html>