<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    style.
        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
        }

        .gallery img{
            width: 100%;
        }
</head>

<body>

    <div class="gallery">
        <img src="./vectors/1.svg" alt="">
        <img src="./vectors/2.svg" alt="">
        <img src="./vectors/3.svg" alt="">
        <img src="./vectors/4.svg" alt="">
        <img src="./vectors/5.svg" alt="">
        <img src="./vectors/6.svg" alt="">
        <img src="./vectors/7.svg" alt="">
        <img src="./vectors/8.svg" alt="">
        <img src="./vectors/9.svg" alt="">
        <img src="./vectors/10.svg" alt="">
        <img src="./vectors/11.svg" alt="">
        <img src="./vectors/12.svg" alt="">
        <img src="./vectors/icono-redes-1.svg" alt="">
        <img src="./vectors/icono-redes-2.svg" alt="">
        <img src="./vectors/icono-redes-3.svg" alt="">
        <img src="./vectors/icono-redes-4.svg" alt="">
        <img src="./vectors/icono-redes-5.svg" alt="">
        <img src="./vectors/icono-redes-6.svg" alt="">
        <img src="./vectors/logoCTPAGA.svg" alt="">
    </div>

</body>

</html>