-
    let settings = {
        language: "es",
        titlePage: "Emailts Template"
    }

    templateOne = {
        title: 'LE DAMOS LA BIENVENIDA A',
        titleSecond: 'CTPAGA SU PUNTO DE VENTA',
        icon: "https://johancastillo.github.io/email-ctpaga/build/img/1.png"
    }