td(style="background-color: #fff; text-align: left; padding: 0;")
    a(href="")
        img(src="https://johancastillo.github.io/email-ctpaga/build/img/LOGO.png" alt="" style="padding: 10px; display: block; margin: 0 auto; width: 50%; max-width: 200px;")

        