
mixin iconSection(image)
    td(style="background-color: #fff; text-align: left; padding: 0;")
        br
        a(href="")
            img(
                src= image
                alt="" 
                style="padding: 10px; display: block; margin: 0 auto; width: 80px;"
            )

