td(style="background: #fff;")
    <div style="display: flex; width: 90%; max-width: 250px; margin: 0 auto;">
        
        <a href="">
            <img src="https://johancastillo.github.io/email-ctpaga/img/icono-redes-1.png" alt="" width="95%" >
        </a>

        <a href="">
            <img src="https://johancastillo.github.io/email-ctpaga/img/icono-redes-2.png" alt="" width="95%">
        </a>

        <a href="">
            <img src="https://johancastillo.github.io/email-ctpaga/img/icono-redes-3.png" alt="" width="95%" >
        </a>

        <a href="">
            <img src="https://johancastillo.github.io/email-ctpaga/img/icono-redes-4.png" alt="" width="95%">
        </a>

        <a href="">
            <img src="https://johancastillo.github.io/email-ctpaga/img/icono-redes-5.png" alt="" width="95%">
        </a>

        <a href="">
            <img src="https://johancastillo.github.io/email-ctpaga/img/icono-redes-6.png" alt="" width="95%">
        </a>

        
    </div>

    <div style="text-align: center; font-size: 14px; color:#59595e;font-family: sans-serif;">
        <p>
            | No podemos recibir respuestas a este correo electrónico. <br> Si necesitas ayuda. Visita nuestro <a href="">Centro de ayuda</a>.
        </p>
    </div>